/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.p-gutter {
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .p-gutter {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .p-gutter {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .p-gutter {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .p-gutter {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .p-gutter {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

mark {
  padding: 0.125rem 4px;
  background-color: rgb(255, 215, 64);
  border-radius: 0.125rem;
}
